/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* src/index.css or src/App.css (if you're importing this in your React app) */
@keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .jump {
    animation: jump 3s ease-in-out infinite;
  }
  
  /* Neomorphic style classes */
.neomorphic-card {
  box-shadow: 8px 8px 15px #b8b9be, -8px -8px 15px #ffffff;
}

.neomorphic-form {
  box-shadow: 9px 9px 18px #a6a8ac, -9px -9px 18px #ffffff;
}

.neomorphic-input {
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}

.neomorphic-btn {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}


.glow-shadow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4),
              0 0 30px rgba(255, 105, 180, 0.4),
              0 0 45px rgba(128, 0, 128, 0.5),
              0 0 60px rgba(0, 0, 255, 0.6);
}


/* Add to src/index.css */
@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.testimonials-slider {
  animation: slide 20s linear infinite;
}
